h1 {
 color: #228822;
 font-weight: bold;
 text-decoration: none; 
}

h2 {
 color: #222288;
 font-weight: normal;
 font-size: 10pt;
}

a {
 color: #223399;
 text-decoration: none;
}

a.hover {
 color: #229922;
}

ul {
 padding-left: 0.5em; 
}

li {
 list-style-type: none;
 color: #223399;
}

body {
 font-family: sans-serif;
 background: #efefef;
}

textarea {
 font-family: mono;
 font-size: 10pt;
 width: 70%;
 height: 20em;
}

.analise {
 background: #e0e0f0;
 border: 0.2em dotted #223022;
}

.results {
 background: #e0f0f0;
 border: 0.2em dotted #302020;
}

textarea.inv {
 display:none;
}

div.algorithms {
 background: #aaccdd;
 width: 20em;
 float:center;
 border: medium dotted #000000;
 display: none;
 margin: 0.5em;
}

div.nav {
 background: #ddddff;
 padding-left: 1em;
 border: 0.2em dotted #222244;
 height: 100%;
 width: 10em;
}

div.content {
 margin-left: 12em;
 max-width: 860px;
}

