h1 {
 color: #222288;
 font-weight: bold;
 text-decoration: none; 
}

h2 {
 color: #222288;
 font-weight: normal;
 font-size: 10pt;
}

a {
 color: #223399;
 text-decoration: none;
}

a.hover {
 color: #229922;
}

ul {
 padding-left: 0.5em; 
}

li {
 list-style-type: none;
 color: #223399;
}

body {
 font-family: sans-serif;
 background-image: url("/rameau/background.png");
 background-repeat: no-repeat;
 background-position: top center;
 background-attachment: fixed;
}

textarea {
 font-family: mono;
 font-size: 10pt;
 width: 70%;
 height: 20em;
}

.analise {
 background: #e0e0f0;
 padding: 0.5em;
 -moz-border-radius: 2em;
}

div.coralbox label {
 float: left;
 clear: left;
 height: 2em;
}

div.coralbox input {
 float: right;
 clear: right;
 width: 40em;
 height: 1.5em;
}

div.coralbox select {
 float: right;
 margin-right: 32.5em;
 width: 8em;
}

div.coralbox p {
 vertical-align: middle;
 display: box;
}

.results {
 background: #e0e0f0;
 -moz-border-radius: 2em;
}

.browse-results {
 background: #e0f0f0;
 padding-left: 8em;
 -moz-border-radius: 2em;
}

div.inv {
 display:none;
 max-width: 30em;
 background: #e0f0e0;
 -moz-border-radius: 1em;
 font-family: 'Bitstream Vera Sans Mono', monospace;
}

div.algorithms {
 background: #aaccdd;
 width: 20em;
 border: medium dotted #000000;
 -moz-border-radius: 1em;
 display: none;
 margin: 0.5em;
 top: 5em;
 left: 25em;
 position: absolute;
}

div.nav {
 align: center;
 margin: 1em;
 -moz-border-radius: 1em;
}

div.nav h2 {
 display: inline;
}

div.content {
 max-width: 900px;
 opacity: 0.95;
}

img {
 opacity: 1.0;
}

div.cache {
 margin: 0.5em;
 padding: 1em;
 font-size: 10pt;
 width: 20em; 
 height: 7em;
 float: left;
 background: #e0e0f0;
 -moz-border-radius: 1em;
}

div.cache p {
 margin: 0;
}

a.closebutton {
 float: right;
 font-family: monospace;
 border: thin solid #000088;
 margin: 0em 1em 0em 1em;
}
