src/cpc
*.pdf
*.ps
rameau
*.fasl
*.fas
cmurameau
clisprameau
*.aux
*.log
*.out
auto
*.png
corais
*.o
*.x86f
src/temperley-original/harmony/harmony
src/temperley-original/meter/meter
src/temperley-original/mftext-release-07/mftext
