src/cpc
*.pdf
*.ps
rameau
*.fasl
*.fas
cmurameau
eclrameau
clisprameau
*.aux
*.log
*.out
auto
*.png
corais
*.o
*.x86f
src/temperley-original/harmony/harmony
src/temperley-original/meter/meter
src/temperley-original/mftext-release-07/mftext
src/*.c
src/*.h
src/*.data
resultados/*tex
resultados/*dvi
resultados/*log
out
rameau-deps
