[submodule "rameau-deps/cl-music"]
	path = rameau-deps/cl-music
	url = git://genos.mus.br/cl-music
[submodule "rameau-deps/cl-utils"]
	path = rameau-deps/cl-utils
	url = git://genos.mus.br/cl-utils
[submodule "rameau-deps/cl-lily"]
	path = rameau-deps/cl-lily
	url = git://genos.mus.br/cl-lily
[submodule "rameau-deps/lisp-libs"]
	path = rameau-deps/lisp-libs
	url = git://genos.mus.br/lisp-libs
[submodule "rameau-deps/cl-fann"]
	path = rameau-deps/cl-fann
	url = git://genos.mus.br/cl-fann
[submodule "rameau-deps/genos-corpus"]
	path = rameau-deps/genos-corpus
	url = git://genos.mus.br/genos-corpus
