.function-arg-list {
    font-family: mono;
    display: inline-block;
    border: solid 2px #cccccc;
    border-collapse: collapse;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
    background-color: #eeeeff;
}

.function-block {
    margin-left: 2em;
}

.function-key {
    color :magenta;
    display: inherit;
}

.function-arg {
    font-style: italic;
    display: inherit;
}

.function-name {
    font-weight :bold;
    display: inherit;
    padding-right: 1pt;
}

p.docstring {
    display: inline-block;
    text-align: justify;
    padding-right: 1pt;
}

.var {
    padding-left: 1pt;
    font-style: italic;
    display: inline-block;
}

.example-header {
    font-weight :bold;
    font-size: 12pt;
    font-family: verdana,arial,helvetica,sans-serif;
}

.example {
    font-family: mono;
    display: inline-block;
    margin-left: 2em;
    border: dotted 2px #cccccc;
    border-collapse: collapse;
    padding: 1em;
}

h2 {
    font-family: verdana,arial,helvetica,sans-serif;
    color: #000066;
    font-size: 12pt;
}