.function-block {
    margin-left: 2em;
    margin-right: 2em;
    clear: both;
}

.function-arg-list {
    font-family: mono;
    display: inline-block;
    border: solid 2px #cccccc;
    border-collapse: collapse;
    -moz-border-radius: 0.5em;
    padding-left: 1em;
    margin-bottom: 1em;
    float: left;
    clear: both;
    padding-right: 1em;
    background-color: #eeeeff;
}

.function-key {
    color :magenta;
}

.function-arg {
    font-style: italic;
}

.function-name {
    font-weight :bold;
    padding-right: 1pt;
}

.docstring {
    text-align: justify;
    padding-right: 2pt;
    width: 65%;
}

.rameau {
    text-transform: capitalize;
    font-variant: small-caps;
}

.var {
    font-style: italic;
}

.example-header {
    font-weight :bold;
    font-size: 12pt;
    font-family: verdana,arial,helvetica,sans-serif;
    clear: both;
}

.example, .docstring, .uses-body {
    margin-left: 2em;
}

.example {
    font-family: mono;
    display: inline-block;
    border: dotted 2px #cccccc;
    border-collapse: collapse;
    padding: 1em;
}

h2 {
    font-family: verdana,arial,helvetica,sans-serif;
    color: #000066;
    font-size: 12pt;
    margin-top: 3em;
    width: 68%;
}

.function-name-header {
    float: left;
    display: block;
    clear: left;
    width: 20em;
    overflow: visible;
}

.function-name-header h2 {
    overflow: visible;
    white-space: pre;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    align: center;
    font-family: serif;
    text-align: center;
}

.function-type {
    float: right;
    clear:right;
    margin-right: 10em;
}

body {
    background: #ddddff;
    font-family: sans-serif;
}

div.main {
    background: #eeeeff;
    opacity: 90%;
    width: 50em;
    margin: auto;
    padding: 1em 1em 1em 1em; 
    -moz-border-radius: 2em;
}