.function-block {
    margin-left: 2em;
}

.function-arg-list {
    font-family: mono;
    display: inline-block;
    line-height: 0px;
    border: solid 2px #cccccc;
    border-collapse: collapse;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #eeeeff;
}

.function-key {
    color :magenta;
}

.function-arg {
    font-style: italic;
}

.function-name {
    font-weight :bold;
    padding-right: 1pt;
}

.docstring {
    text-align: justify;
    padding-right: 2pt;
    width: 65%;
}

.var {
    font-style: italic;
}

.example-header {
    font-weight :bold;
    font-size: 12pt;
    font-family: verdana,arial,helvetica,sans-serif;
}

.example, .docstring, .uses-body {
    margin-left: 2em;
}

.example {
    font-family: mono;
    display: inline-block;
    border: dotted 2px #cccccc;
    border-collapse: collapse;
    padding: 1em;
}

h2 {
    font-family: verdana,arial,helvetica,sans-serif;
    color: #000066;
    font-size: 12pt;
    margin-top: 3em;
    width: 68%;
}

.function-type {
    float: right;
}
